@import "tailwindcss";

@theme inline {
  --color-pink-accent: #E2187D;
  --color-pink-light: #FDF2F8;
  --color-pink-hover: #C4146B;
  --font-sans: "Josefin Sans", sans-serif;
}

body {
  background: #ffffff;
  color: #171717;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}
